<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Történet <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li><a href="#about#history">Történet</a></li>
        <li><a href="#about#land">Földrajz</a></li>
        <li><a href="#about#ize">Növénzyet</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>
<br>
<br>



<section id="history">Dédnagyapánk, dr. Folly Gyula (1867-1915) pécsi orvos volt az, aki elsőként az 1900-as évek elején a hegyoldalba, az egykori cseres-kocsánytalan tölgyes állomány helyére egzótákat ültetett. A terület, amelyen a telepítést megkezdte, mindegy 0,4 hektár, amely ma is a gyűjtemény magját képezi (XI. a. parcella – Öreg-arborétum). Olyan fajokat igyekezett összegyűjteni, amelyek jól hasznosítják a Balaton helyi mérséklő klímáját, és jól tűrik a szárazságot is. Esősorban a mediterrán származású és más világrészek hasonló adottságú területeinek növényeit ültette. Felvette a kapcsolatot külföldi, főleg nyugat-európai faiskolákkal (Barbier et Co, Hesse, Orleans, Rovelli, Pallanza, Weaner, Veicht and Son, London-Chelsea), amelyek a kiválasztott anyagot több éven át előnevelve, kosarakban szállították. Mintegy 100 növény telepítése során 60 m3 követ termeltek ki a kézzel ásott ültetőgödrökből. A növények ültetéséhez szükséges vizet a Balatonból faedényekben szállították fel szamárháton. A telepítéseket kerttervezési elképzelés nem előzte meg. Mivel hazánkban ismeretlen fajokat telepített, nem ismerte azok nálunk várható méreteit, így az Öreg-arborétum jelenleg helyenként sűrű, s tisztás foltok pedig ott találhatók, ahol a növények az elmúlt aszályos időszakban kipusztultak. Az alapító halála és az első világháború megakasztotta a telepítés lendületét. A két világháború közötti időszakban gyakorlatilag teljesen szünetelt az arborétum fejlesztése. Ezalatt a család – az édesapa iránti tiszteletből – igyekezett a kis arborétumot fenntartani. Szerencsére a második világháború alatt nem érte nagyobb károsodás a kertet.

    1950-ben a családi birtok egy része állami tulajdonba és a Badacsonyi Állami Gazdaság kezelésébe került. Majd 1953-ban újra megkezdte az egzóták telepítését az alapító fia, nagyapánk, dr. Folly Gyula (1911-1979) közgazdász. Először az arborétumban található lakóház előkertjét, környékét ültette be. Majd fokozatosan észak felé haladva, a többi teraszra is került növényanyag. A növények életfeltételei közül a megfelelő mennyiségű csapadék hiányzott a legjobban. Nem sokkal ezután történt az Öreg-arborétum mellett 1964-ben az atlasz cédrus állományszerű telepítése (XI. b. parcella) és 1970-ben a valódi európai ciprusok ültetése (VI., IX parcella, díszfaiskola).

    A Badacsonyi Állami Gazdaság több parcellát adott át a gyűjteményes kert bővítésére, amelyeken a szőlőt már régebben kivágták. Az átvett szőlőterületeken a telepítő munkát már az unoka, édesapánk, Folly Gyula (1943-2011) agrármérnök végezte. 1977-ben díszfaiskolát létesített a lakóház bejáratával szemben, amelynek bevételéből biztosította az arborétum egyre növekvő fenntartási költségeit. Természetesen a gyűjteményes kert idősebb részén is végzett további ültetéseket. 1981-ben nyugat-európai gyűjtőútjáról mintegy száz „új” növényfajt, illetve fajtát hozott, amelynek jelentős része a felső teraszra (X. parcella) került. Munkásságát dicséri az Öreg-arborétum alatti volt parlag (XII. parcella) beültetése is. Az 1980-as évek közepe táján az arborétum területét állami támogatással bekerítették, ezzel megakadályozva a vadkárosítást és a lopásokat. A kárpótlást követően az államosított területeket édesapánk visszavásárolta, így az egész terület a Folly család tulajdonába került.

    2010 óta mi, a negyedik generáció – dr. Folly Réka és Folly Judit - is bekapcsolódtunk a munkálatokba. Az arborétum és a borászat fejlesztésével folytatjuk a több mint egy évszázados családi hagyományt.</section>

<br>
<br>
<br>
<br>

<section id="land">
    A földtörténet perm időszakában, az őstenger partjának közelében a szárazföldi térszínen vörös homokkő halmozódott fel. A déli lejtőkön alul már a sziklák konglomerátumosak (a homokkő kisebb-nagyobb kavicsokkal cementálódott.) Az arborétum alsó részén pedig lösztakaróból alakult ki a talaj. Az arborétum talajviszonyai változatosak. Erdőtalajok, ezek lejtőhordalékai és erodálódott formái váltakoznak.

    Az arborétum alsóbb része enyhe lejtésű, az Öreg-arborétum és a felette húzódó tölgyes erdő meredekebb (20-30%-os) domboldalban fekszik. A terület tengerszint feletti magassága: 159-235 méter között változik. Régebben az arborétum nagy részén szőlőművelés folyt. A szőlőtermeléshez elengedetlen fontosságú volt a teraszok kialakítása. A támfalak építésével csökkentették a terület lejtését, az eróziót, mindezzel javítva a talaj vízellátását és víztartó képességét.

    A szárazföldi (kontinentális), a mediterrán és az atlanti légáramlatok a Balaton nyugati térségében váltakozva érvényesülnek. Az átlagos évi csapadék mennyisége 650 mm körüli. Ebből a tenyészidőszak csapadékösszege mintegy 400 mm. A meghatározó éghajlati jellemzők mellett nagy jelentősége van – a terület sajátos adottságai miatt – a kedvező helyi klímának. A Balaton nagy vízfelületének fény- és hővisszaverő hatása igen előnyös. A fenyőkertet az Örsi-hegy, Ábrahám-hegy és a Bagó-kő öleli körül, mintegy menedéket nyújtva az északi és keleti szelek ellen. A dél felől érkező magasabb páratartalmú balatoni levegőt a domborzat szinte megfogja, jóval párásabb viszonyokat teremtve a hegyív által körülvett területnek. Az északi szelek elleni védőhatást fokozza az arborétumhoz kapcsolódó erdő és az e célra telepített erdeifenyő sáv is. A déli kitettség is jelentősen hozzájárul a terület felmelegedéséhez. A hűvösebb, kiegyenlítettebb klímát igénylő fajok részére ez a termőhely már túlságosan meleg és száraz.

</section>