<table style="width: 940px;" border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td align="left" valign="top" width="150">
            <p><span style="color: #333333; font-size: 10pt;"><strong><span style="font-family: arial,helvetica,sans-serif;">ELÉRHETŐSÉG</span></strong></span></p>
        </td>
        <td align="left" valign="top" width="790">
            <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif; color: #808080;"><strong>CÍM:</strong> 8257 BADACSONYÖRS, KÁPOLNAVÖLGYI ÚT 25.</span></p>
            <p><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif; color: #808080;"><strong>GPS KOORDINÁTÁK:</strong> 46°48'34"É 17°32'44"K</span></p>
            <p><strong><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif; color: #808080;">FOLLY RÉKA</span></strong><br><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif; color: #808080;"> E-mail: <span id="cloak11578"><a href="mailto:folly.reka@follyarboretum.hu"><span style="color: #808080;">folly.reka (kukac) follyarboretum.hu</span></a></span><script type="text/javascript">
                //<!--
                document.getElementById('cloak11578').innerHTML = '';
                var prefix = 'ma' + 'il' + 'to';
                var path = 'hr' + 'ef' + '=';
                var addy11578 = 'folly.reka' + '@';
                addy11578 = addy11578 + 'follyarboretum' + '.' + 'hu';
                var addy_text11578 = '<span style="color: #808080;">folly.reka (kukac) follyarboretum.hu</span>';
                document.getElementById('cloak11578').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy11578 + '\'>'+addy_text11578+'<\/a>';
                //-->
            </script></span><br><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif; color: #808080;"> Mobil: +36-70-338-7377</span></p>
            <p><strong><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif; color: #808080;">FOLLY JUDIT</span></strong><br><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif; color: #808080;"> E-mail: <span id="cloak39079"><a href="mailto:folly.judit@follyarboretum.hu"><span style="color: #808080;">folly.judit (kukac) follyarboretum.hu</span></a></span><script type="text/javascript">
                //<!--
                document.getElementById('cloak39079').innerHTML = '';
                var prefix = 'ma' + 'il' + 'to';
                var path = 'hr' + 'ef' + '=';
                var addy39079 = 'folly.judit' + '@';
                addy39079 = addy39079 + 'follyarboretum' + '.' + 'hu';
                var addy_text39079 = '<span style="color: #808080;">folly.judit (kukac) follyarboretum.hu</span>';
                document.getElementById('cloak39079').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy39079 + '\'>'+addy_text39079+'<\/a>';
                //-->
            </script></span><br><span style="font-size: 10pt; font-family: arial,helvetica,sans-serif; color: #808080;"> Mobil: +36-70-337-4533</span></p>
        </td>
    </tr>
    </tbody>
</table>

<br>


