
<section>
    Amikor az arborétumot szeretnénk bemutatni, mindig olyan szavak jutnak eszünkbe, mint a béke, nyugalom, madárcsicsergés, a kabócák zenéje… mindez méltóságteljes, bölcs örökzöldek ölelésében.

    Dédnagyapánk ültette az első fákat, Nagyapánk dacolva a kommunizmussal tovább folytatta a munkát, aztán Édesapánk visszaszerezte az ellopott területeket és megnyitotta a nyilvánosság előtt a család féltve őrzött kincsét. Az ő nagyságukhoz igyekszünk felnőni most mi, a negyedik generáció. Szeretetük, hitük és kemény munkájuk ott van a fák között, s így mindez sokkal több számunkra, mint dendrológiai értelemben vett látványosság. Épp ebben rejlik különlegessége az ide látogatók számára is, akik azonnal érzik a különös atmoszférát.

    Nem elégszünk meg azzal, hogy pusztán megőrizzük ezt a csodát – igyekszünk minden erőnkkel azon fáradozni, hogy fejlődjön, egyre szebb legyen. Igaz mindez az arborétum szerves részeként működő borászatra is, mely szintén nagy múltra tekint vissza. Már a XIX. század végétől foglalkozott családunk szőlőtermesztéssel és borkészítéssel – ebbe a tradícióba igyekszünk mi most friss lendületet vinni.

    Nehéz a nyelv eszközeivel pontosan kifejezni, hogy milyen is az, amikor egy pohár borral a kezünkben a százéves fák alatt nézzük a csillogó Balatont. De itt talán nem is a pontos leírás a cél. Aki ellátogat hozzánk, megérti majd, hogy mire kerestük a szavakat a bemutatkozó oldalon.

    Szeretettel várjuk Önöket!
</section>

<section>
    Amikor az arborétumot szeretnénk bemutatni, mindig olyan szavak jutnak eszünkbe, mint a béke, nyugalom, madárcsicsergés, a kabócák zenéje… mindez méltóságteljes, bölcs örökzöldek ölelésében.

    Dédnagyapánk ültette az első fákat, Nagyapánk dacolva a kommunizmussal tovább folytatta a munkát, aztán Édesapánk visszaszerezte az ellopott területeket és megnyitotta a nyilvánosság előtt a család féltve őrzött kincsét. Az ő nagyságukhoz igyekszünk felnőni most mi, a negyedik generáció. Szeretetük, hitük és kemény munkájuk ott van a fák között, s így mindez sokkal több számunkra, mint dendrológiai értelemben vett látványosság. Épp ebben rejlik különlegessége az ide látogatók számára is, akik azonnal érzik a különös atmoszférát.

    Nem elégszünk meg azzal, hogy pusztán megőrizzük ezt a csodát – igyekszünk minden erőnkkel azon fáradozni, hogy fejlődjön, egyre szebb legyen. Igaz mindez az arborétum szerves részeként működő borászatra is, mely szintén nagy múltra tekint vissza. Már a XIX. század végétől foglalkozott családunk szőlőtermesztéssel és borkészítéssel – ebbe a tradícióba igyekszünk mi most friss lendületet vinni.

    Nehéz a nyelv eszközeivel pontosan kifejezni, hogy milyen is az, amikor egy pohár borral a kezünkben a százéves fák alatt nézzük a csillogó Balatont. De itt talán nem is a pontos leírás a cél. Aki ellátogat hozzánk, megérti majd, hogy mire kerestük a szavakat a bemutatkozó oldalon.

    Szeretettel várjuk Önöket!
</section>

<section>
    Amikor az arborétumot szeretnénk bemutatni, mindig olyan szavak jutnak eszünkbe, mint a béke, nyugalom, madárcsicsergés, a kabócák zenéje… mindez méltóságteljes, bölcs örökzöldek ölelésében.

    Dédnagyapánk ültette az első fákat, Nagyapánk dacolva a kommunizmussal tovább folytatta a munkát, aztán Édesapánk visszaszerezte az ellopott területeket és megnyitotta a nyilvánosság előtt a család féltve őrzött kincsét. Az ő nagyságukhoz igyekszünk felnőni most mi, a negyedik generáció. Szeretetük, hitük és kemény munkájuk ott van a fák között, s így mindez sokkal több számunkra, mint dendrológiai értelemben vett látványosság. Épp ebben rejlik különlegessége az ide látogatók számára is, akik azonnal érzik a különös atmoszférát.

    Nem elégszünk meg azzal, hogy pusztán megőrizzük ezt a csodát – igyekszünk minden erőnkkel azon fáradozni, hogy fejlődjön, egyre szebb legyen. Igaz mindez az arborétum szerves részeként működő borászatra is, mely szintén nagy múltra tekint vissza. Már a XIX. század végétől foglalkozott családunk szőlőtermesztéssel és borkészítéssel – ebbe a tradícióba igyekszünk mi most friss lendületet vinni.

    Nehéz a nyelv eszközeivel pontosan kifejezni, hogy milyen is az, amikor egy pohár borral a kezünkben a százéves fák alatt nézzük a csillogó Balatont. De itt talán nem is a pontos leírás a cél. Aki ellátogat hozzánk, megérti majd, hogy mire kerestük a szavakat a bemutatkozó oldalon.

    Szeretettel várjuk Önöket!
</section>

<section>
    Amikor az arborétumot szeretnénk bemutatni, mindig olyan szavak jutnak eszünkbe, mint a béke, nyugalom, madárcsicsergés, a kabócák zenéje… mindez méltóságteljes, bölcs örökzöldek ölelésében.

    Dédnagyapánk ültette az első fákat, Nagyapánk dacolva a kommunizmussal tovább folytatta a munkát, aztán Édesapánk visszaszerezte az ellopott területeket és megnyitotta a nyilvánosság előtt a család féltve őrzött kincsét. Az ő nagyságukhoz igyekszünk felnőni most mi, a negyedik generáció. Szeretetük, hitük és kemény munkájuk ott van a fák között, s így mindez sokkal több számunkra, mint dendrológiai értelemben vett látványosság. Épp ebben rejlik különlegessége az ide látogatók számára is, akik azonnal érzik a különös atmoszférát.

    Nem elégszünk meg azzal, hogy pusztán megőrizzük ezt a csodát – igyekszünk minden erőnkkel azon fáradozni, hogy fejlődjön, egyre szebb legyen. Igaz mindez az arborétum szerves részeként működő borászatra is, mely szintén nagy múltra tekint vissza. Már a XIX. század végétől foglalkozott családunk szőlőtermesztéssel és borkészítéssel – ebbe a tradícióba igyekszünk mi most friss lendületet vinni.

    Nehéz a nyelv eszközeivel pontosan kifejezni, hogy milyen is az, amikor egy pohár borral a kezünkben a százéves fák alatt nézzük a csillogó Balatont. De itt talán nem is a pontos leírás a cél. Aki ellátogat hozzánk, megérti majd, hogy mire kerestük a szavakat a bemutatkozó oldalon.

    Szeretettel várjuk Önöket!
</section>
<section>
    Amikor az arborétumot szeretnénk bemutatni, mindig olyan szavak jutnak eszünkbe, mint a béke, nyugalom, madárcsicsergés, a kabócák zenéje… mindez méltóságteljes, bölcs örökzöldek ölelésében.

    Dédnagyapánk ültette az első fákat, Nagyapánk dacolva a kommunizmussal tovább folytatta a munkát, aztán Édesapánk visszaszerezte az ellopott területeket és megnyitotta a nyilvánosság előtt a család féltve őrzött kincsét. Az ő nagyságukhoz igyekszünk felnőni most mi, a negyedik generáció. Szeretetük, hitük és kemény munkájuk ott van a fák között, s így mindez sokkal több számunkra, mint dendrológiai értelemben vett látványosság. Épp ebben rejlik különlegessége az ide látogatók számára is, akik azonnal érzik a különös atmoszférát.

    Nem elégszünk meg azzal, hogy pusztán megőrizzük ezt a csodát – igyekszünk minden erőnkkel azon fáradozni, hogy fejlődjön, egyre szebb legyen. Igaz mindez az arborétum szerves részeként működő borászatra is, mely szintén nagy múltra tekint vissza. Már a XIX. század végétől foglalkozott családunk szőlőtermesztéssel és borkészítéssel – ebbe a tradícióba igyekszünk mi most friss lendületet vinni.

    Nehéz a nyelv eszközeivel pontosan kifejezni, hogy milyen is az, amikor egy pohár borral a kezünkben a százéves fák alatt nézzük a csillogó Balatont. De itt talán nem is a pontos leírás a cél. Aki ellátogat hozzánk, megérti majd, hogy mire kerestük a szavakat a bemutatkozó oldalon.

    Szeretettel várjuk Önöket!
</section>
<section>
    Amikor az arborétumot szeretnénk bemutatni, mindig olyan szavak jutnak eszünkbe, mint a béke, nyugalom, madárcsicsergés, a kabócák zenéje… mindez méltóságteljes, bölcs örökzöldek ölelésében.

    Dédnagyapánk ültette az első fákat, Nagyapánk dacolva a kommunizmussal tovább folytatta a munkát, aztán Édesapánk visszaszerezte az ellopott területeket és megnyitotta a nyilvánosság előtt a család féltve őrzött kincsét. Az ő nagyságukhoz igyekszünk felnőni most mi, a negyedik generáció. Szeretetük, hitük és kemény munkájuk ott van a fák között, s így mindez sokkal több számunkra, mint dendrológiai értelemben vett látványosság. Épp ebben rejlik különlegessége az ide látogatók számára is, akik azonnal érzik a különös atmoszférát.

    Nem elégszünk meg azzal, hogy pusztán megőrizzük ezt a csodát – igyekszünk minden erőnkkel azon fáradozni, hogy fejlődjön, egyre szebb legyen. Igaz mindez az arborétum szerves részeként működő borászatra is, mely szintén nagy múltra tekint vissza. Már a XIX. század végétől foglalkozott családunk szőlőtermesztéssel és borkészítéssel – ebbe a tradícióba igyekszünk mi most friss lendületet vinni.

    Nehéz a nyelv eszközeivel pontosan kifejezni, hogy milyen is az, amikor egy pohár borral a kezünkben a százéves fák alatt nézzük a csillogó Balatont. De itt talán nem is a pontos leírás a cél. Aki ellátogat hozzánk, megérti majd, hogy mire kerestük a szavakat a bemutatkozó oldalon.

    Szeretettel várjuk Önöket!
</section>
