.center-image{
    background-image: url("../images/folly.jpg");
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Background image doesn't tile */
    background-repeat: no-repeat;

    /* Background image is fixed in the viewport so that it doesn't move when
       the content's height is greater than the image's height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based
       on the container's size */
    background-size: cover;

    /* Set a background color that will be displayed
       while the background image is loading */
    background-color: #464646;
    padding-top: 280px;
    min-height: 980px;
    text-align: center;
    vertical-align: middle;
}

.center-image img{
    text-align: center;
    margin: 0 auto;
}

#nav {
    width: 100%;
    position:static;
}

#nav.affix {
    position: fixed;
    top: 0;
    z-index:10;
}